.content {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.search-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.city {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
    margin-top: 5vh;
}

@media screen and (min-width:768px) {
    .content {
        width: 100vw;
    }
    .search-container {
        width: 40%;
    }
    .city {
        font-size: 1.8em
    }
}